{% extends "base.html"%}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<h1>GET TO KNOW ME!</h1>
<p>Hi, I’m <b>Ronwin Maynard O. Cordeta</b>, my student ID is <b>2022-04240</b> currently studying <b>BSIT</b> at <b>Eastern Visayas State University</b>.</p>
<h3>Profile:</h3>
<p>I am a student who is passionate about technology and continuous learning.</p>
<h3>Interests:</h3>
<ul>
    <li>Eager to learn programming and web developing but having a hard time finding the best way to study wihtou feeling lazy</li>
    <li>Watching movies</li>
    <li>Reading stories</li>
</ul>

<h3>Goal:</h3>
<p>Improve programming and web developing skills</p>
{% endblock %}
