<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title%}My Profile{% endblock %}</title>
</head>
<body>

<table width="100%" bgcolor="black" cellpadding="15">
  <tr>
    <td>
      <font color="white" size="5"><b>My Profile</b></font>
    </td>
    <td align="right">
      <a href="{% url 'home' %}" style="color:white; text-decoration:none;">Home</a>
      &nbsp;
      <a href="{% url 'about'%}" style="color:white; text-decoration:none;">About</a>
    </td>
  </tr>
</table>

<main>
    {% block content %}
    {% endblock %}
</main>
</body>
    <footer>
    <p align = "center">&copy; 2025 Cordeta, Ronwin Maynard O.</p>
    <p align = "center">Eastern Visayas State University</p>
</footer>
</html>