{% extends "base.html"%}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<h1>Hello and Welcome!</h1>
<p>Thanks for visiting my personal profile site. This website is part of my web development assignment, where I’m practicing template using django app.</p>

<br>

<h2>What’s Inside:</h2>
<ul>
    <li>Home: A quick introduction and overview of this project.</li>
    <li>About: My personal details, including name and student ID</li>

</ul>
<br>
<p>Don’t forget to check out the <a href = "about"> about </a> page for more details!</p>





{% endblock %}



